# Dependencies
node_modules/
server/node_modules/
client/node_modules/

# Environment
.env
client/.env
server/.env

# Build
dist/
dist-ssr/
build/
client/dist/

# Logs
logs/
*.log
npm-debug.log*

# Uploads
server/uploads/*
!server/uploads/.gitkeep

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/settings.json